body{
    font-family: "Montserrat", sans-serif;
}
#title {
    background-color:darkolivegreen;
    color: #fff;
}
h1 {
    
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
h2{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-weight: bold;
    font-size: 1.5rem;
}
.container-fluid{
    padding: 3% 15% 18%;
}
/* Nav Bar */
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
}
.download-button{
    margin: 5% 3% 5% 0;
}
/* Title Image */
.title-image{
    width: 30%;
    position: absolute;
    right: 20%;
}
/* Feature CSS */
#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;

}
#features p{
    color: #8f8f8f;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
#features .features-icon{
    color: green;
    margin-bottom: 1rem;
}
#features .features-icon:hover{
    color: darkolivegreen;
}

/* Testimonials CSS */

#testimonials{
    text-align: center;
    background-color: darkolivegreen;
    color: white;
}
.testimonial-img{
    margin: 20px;
    width: 15%;
}
.carousel-item{
    padding: 7% 20%;
}

#press{
    background-color: darkolivegreen;
    text-align: center;
    padding: 5%;
}
.press-logo{
    width: 10%;
    margin: 20px 20px 50px;
}
/* Pricing section */
#pricing{
    padding: 5%;
}
.pricing-col{
    padding: 3% 2%;
}
/* Call to Action CSS */
#cta{
    padding: 5% 10%;
    background-color:darkolivegreen ;
    color: white;
}
.cta-text h3{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.5;
}
/* Footer CSS */
#footer{
    padding-bottom: 20px;

}
.footer-icon{
    margin: 20px;
    color:darkolivegreen;
}
.sub-form{
    margin: 20px;
}
.sub-form .btn{
    margin: 20px;
}
@media (max-width: 1028px) {
    .title-image{
        position: static;
        width: 50%;
    }
    #title{
        text-align: center;
    }
}